@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import "tailwindcss";


@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-cinzel-decorative: 'Cinzel Decorative', serif;
  --font-inter: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #000;
  /* background-color removed to prevent covering negative z-index items */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: transparent; /* Explicitly transparent */
}

